* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vw;
  overflow: hidden;
  background-color: black;
  color: white;
  text-align: center;
}

.header {
  background-color: green;
  border-top-right-radius: 10px;
  padding: 10px;
}

#buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

button {
  padding: 5px 10px;
  width: 250px;
  background-color: rgb(75, 49, 84);
  color: black;
  border: none;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

#result {
  width: 250px;
  height: 150px;
  margin: 10px auto;
  margin-top: 20px;
  background-color: black;
  border-radius: 10px;
}

.container {
  width: 300px;
  height: auto;
  background-color: gray;
  margin: 100px auto;
  padding: 0px 0px;
  border-radius: 10px;
}

.footer {
  background-color: green;
  border-top: 1px solid red;
  padding: 15px;
  margin-bottom: 0;
  border-bottom-left-radius: 10px;
}
